## Dividends and Adj Close price

In [1]:
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt

In [7]:
unh = yf.download("UNH", start = "2022-01-01", end = "2022-07-22")

[*********************100%***********************]  1 of 1 completed

In [8]:
unh.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,500.000000,502.899994,493.049988,502.279999,499.018433,3033600
2022-01-04,503.200012,503.750000,490.880005,490.899994,487.712341,3908100
2022-01-05,494.769989,497.000000,489.690002,489.690002,486.510193,3921100
2022-01-06,480.000000,484.140015,463.119995,469.649994,466.600311,6555200
2022-01-07,467.690002,467.970001,455.549988,458.600006,455.622101,5494200

In [9]:
unh.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-07-15,526.059998,531.989990,515.450012,529.750000,529.750000,5741800
2022-07-18,531.000000,532.159973,518.750000,519.369995,519.369995,3212000
2022-07-19,521.090027,533.840027,520.590027,533.450012,533.450012,2953500
2022-07-20,533.450012,534.049988,515.729980,519.469971,519.469971,4327500
2022-07-21,519.390015,522.469971,511.140015,522.460022,522.460022,2667600

### Dividends 2022

| Ex/EFF DATE   | TYPE | CASH AMOUNT  | DECLARATION DATE | RECORD DATE | PAYMENT DATE |
| ------------- | :--- | -----------  | ---------------- | ----------- | ------------ |
| 06/16/2022    | CASH | \$1.65        | 06/08/2022       | 06/20/2022  | 06/28/2022   |
| 03/11/2022    | CASH | \$1.45        | 02/16/2022       | 03/14/2022  | 03/22/2022   |

In [10]:
unh["Diff"] = unh["Close"] - unh["Adj Close"]
unh["C pct"] = unh["Close"].pct_change()
unh["AC pct"] = unh["Adj Close"].pct_change()

In [11]:
unh.loc["2022-06"]

,Open,High,Low,Close,Adj Close,Volume,Diff,C pct,AC pct
Date,,,,,,,,,
2022-06-01,498.320007,501.380005,487.779999,492.549988,490.799713,1765900,1.750275,-0.008515,-0.008515
2022-06-02,494.000000,496.149994,482.970001,492.260010,490.510773,2093500,1.749237,-0.000589,-0.000589
2022-06-03,488.329987,491.670013,484.899994,485.609985,483.884369,1756900,1.725616,-0.013509,-0.013509
2022-06-06,489.429993,493.630005,486.290009,490.179993,488.438141,1781500,1.741852,0.009411,0.009411
2022-06-07,489.500000,497.609985,487.119995,497.100006,495.333557,2341900,1.766449,0.014117,0.014117
2022-06-08,494.000000,497.899994,488.549988,493.529999,491.776245,3268100,1.753754,-0.007182,-0.007182
2022-06-09,492.880005,496.459991,487.609985,489.429993,487.690796,3148800,1.739197,-0.008308,-0.008308
2022-06-10,484.799988,490.160004,480.929993,484.630005,482.907867,2599900,1.722137,-0.009807,-0.009807
2022-06-13,475.130005,481.339996,467.260010,469.700012,468.030914,3764600,1.669098,-0.030807,-0.030807
2022-06-14,467.500000,469.179993,457.420013,461.750000,460.109161,3814200,1.640839,-0.016926,-0.016926
2022-06-15,464.200012,469.019989,456.500000,464.329987,462.679993,2550700,1.649994,0.005587,0.005587
2022-06-16,453.399994,457.809998,450.679993,456.089996,456.089996,3135600,0.000000,-0.017746,-0.014243
2022-06-17,450.750000,461.459991,449.700012,452.059998,452.059998,5277400,0.000000,-0.008836,-0.008836
2022-06-21,457.809998,485.119995,457.100006,480.320007,480.320007,5726800,0.000000,0.062514,0.062514
2022-06-22,475.720001,495.920013,474.540009,489.679993,489.679993,5061000,0.000000,0.019487,0.019487
2022-06-23,494.950012,503.579987,491.959991,499.809998,499.809998,4687700,0.000000,0.020687,0.020687
2022-06-24,499.440002,499.760010,486.559998,495.640015,495.640015,15861100,0.000000,-0.008343,-0.008343
2022-06-27,492.829987,511.890015,492.579987,505.660004,505.660004,3907100,0.000000,0.020216,0.020216
2022-06-28,512.080017,518.609985,505.079987,508.440002,508.440002,4978200,0.000000,0.005498,0.005498
2022-06-29,508.850006,518.700012,506.010010,515.710022,515.710022,3823400,0.000000,0.014299,0.014299
2022-06-30,513.549988,516.320007,509.720001,513.630005,513.630005,3568900,0.000000,-0.004033,-0.004033